


/************************************************* SURVEY FORM************************************************************/

html {
    font-size: 12px;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

body {
    font-family: 'Source Serif Pro', serif;
    margin: 0 auto;
    font-size: 1.6rem;
    background: linear-gradient(180deg,#7E3728,#EDD6A2)no-repeat;
}

#title {
    font-family: 'Gabriela', serif;
    font-size: 4rem;
    text-align: center;
    color: #FFFFFF;
    text-shadow: #010101 2px 2px;
}

#description {
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    text-shadow: #010101 1px 1px;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
}

.clue {
    margin: 0 auto 0 1%;
    font-size: 1.25rem;
    font-style: italic;
}

/* ---------- FORM ----------------*/

#survey-form {
padding: 1.8rem;
border-radius: 5px;
background: #77AEDB;
margin: 0 auto 4%;
max-width: 60%;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#form-group {
margin: 3% auto;
max-width: 95%;
}

.class-duration {
margin: 2% auto 3%;
background-color: #FFFFFF;
border-radius: 5px;
padding: 1rem;
border: #010101 solid 1px;
}

input[type="radio"]{
margin: 0 0 0 5%;
}

.day-preference {
width: 45%;
line-height: 2rem;
padding: 1rem;
}

.submit-button {
cursor: pointer;
background-color: #155B7E;
color: white;
}

button:hover{
background-color: #7E3728;
color: #FFFFFF;
}

#button-container {
margin: 5% auto 0;
}

.input-format {
font-family: source serif pro, times-new-roman;
font-size: 1.6rem;
padding: 1rem;
margin: 0 auto;
border-radius: 5px;
width: 95%;
border: 1px #010101 solid;
}

.submit-button, 
select {
    font-family: source serif pro, times-new-roman;
    font-size: 1.6rem;
    padding: 1rem;
    margin: 1% auto;
    border-radius: 5px;
    width: 100%;
    border: 1px #010101 solid;
}
  
/* ------------ MEDIA --------------------- */
  
@media (max-width: 420px) {
    #survey-form {
        max-width: 310px;
    } 
    .day-preference {
        width: 310px;
        margin: 0 auto 2%;
    }
    #form-group {
        margin: 10% auto;
    }
    #description {
        max-width: 310px;
        margin: 0 auto;
    }
    .img-oldstring {
    margin: 5% auto 0;
    max-width: 100%;
    }
}